body {
            margin-top: 50px;
            margin-left: 50px;
        }
        #Asiakkaat {
            font-family: "Helvetica", Arial, sans-serif;
            border-collapse: collapse;
        }
        #Asiakkaat th,
        #Asiakkaat td {
            border: 1px solid lightgrey;
            padding: 5px;
            text-align: left;
        }
        #Asiakkaat th {
            background-color: rgb(99, 150, 168);
            font-size: 1.2em;
            text-align: center;
            color: rgb(248, 248, 247);
            padding-top: 5px;
            padding-bottom: 5px;
        }
        #Asiakkaat tr.alt {
            background-color: rgb(174, 204, 239);
        }
        #Asiakkaat tr.even {
            background-color: antiquewhite;
        }