
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    background-color: azure;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 200px;
    font-size: 56px;
    background-color: lightskyblue;
    color: whitesmoke;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    background-color: lightgray;
    font-size: 17px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.content p, .content ul {
    width: 100%;
    max-width: 600px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
    background-color: lightskyblue;
}

h2, h3 {
    color: gray;
}

/* Linkkien tyylim채채rittelyt */
a:link {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* Listojen tyylim채채rittelyt */
ul {
    list-style:circle;
    padding: 0;
    margin-top: 0;
}

li p {
    margin: 0;
}